@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --background: #27272a;
  --extra-large-fonts: 40px;
  --large-fonts: 36px;
  --medium-to-large-fonts: 28px;
  --medium-fonts: 24px;
  --small-fonts: 18px;
  --mini-fonts: 14px;
  --border: 1px solid rgba(255, 255, 255, 0.5);
  --border-radius: 15px;
  --border-radius-small: 5px;
  --primary-color: rgb(255, 255, 255);
  --secondary-color: #CCC;
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --shadow-button: 10px 10px #000;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  position: relative;
  max-width: 1280px;
  margin: auto;
  padding: 2rem 5rem;
}

nav {
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.80%);
  position: sticky;
  top: 1rem;
  border: var(--border);
  border-radius: var(--border-radius);
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

nav .main-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}

nav .openMenu, nav .closeMenu {
  cursor: pointer;
}

.main-menu li a {
  font-size: var(--small-fonts);
  color: var(--secondary-color);
  font-weight: var(--medium);
  position: relative;
}

.main-menu li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #FF0000;
  transform-origin: bottom left;
  transition: transform .3s ease-out;
  transform: scaleX(0);
}

.main-menu li a:hover::after {
  transform: scaleX(1);
}

nav > .title > a {
  font-size: var(--medium-fonts);
  font-weight: var(--semi-bold);
}

nav .openMenu, nav .closeMenu {
  display: none;
}

#hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}

.img-hero {
  z-index: -1;
  display: flex;
  padding: 3rem 3rem;
  align-items: center;
  justify-content: center;
  border: var(--border);
  border-radius: 15px 0 0 15px;
}

.img-hero > img {
  object-fit: cover;
  max-width: 330px;
  width: 100%;
  max-height: 380px;
  height: auto;
  position: relative;
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-button);
}

.text-hero {
  color: var(--primary-color);
  flex-direction: column;
  padding: 3rem 2.5rem;
  border: var(--border);
  border-radius: 0 15px 15px 0;
}

.text-hero > h3 {
  font-size: var(--medium-fonts);
  font-weight: var(--bold);
}

.text-hero > h1 {
  font-size: var(--extra-large-fonts);
  font-weight: var(--bold);
}

.text-hero > h2 {
  font-size: var(--large-fonts);
  margin-bottom: 17px;
}

.text-hero > h2 > span {
  color: #FF0000;
}

.icon-container {
  display: flex;
  gap: 24px;
}

.btn {
  cursor: pointer;
  color: var(--primary-color);
  font-size: var(--small-fonts);
  font-weight: var(--medium);
  background-color: #FF0000;
  border: none;
  margin-top: 50px;
  padding: 13px 27px;
  border-radius: var(--border-radius-small);
  box-shadow: var(--shadow-button);
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--background);
  transition: .3s ease-in-out;
}

#skills-section {
  margin-top: 2rem;
}

.section-header > h2 {
  z-index: -1;
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--large-fonts);
  color: var(--primary-color);
  font-weight: var(--semi-bold);
}

.section-header > h2::after {
  content: "";
  flex: 1;
  margin-left: 1rem;
  height: 1px;
  background-color: #CCC;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  place-items: center;
  padding: 2rem 2.5rem;
  margin-top: 2rem;
  border: var(--border);
  border-radius: var(--border-radius);
}

.skills-container > .skills-item > img {
  width: 80px;
  height: 80px;
}

#project {
  margin-top: 2rem;
}

#project > .card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

#project > .card-container > .card {
  max-width: 280px;
  color: var(--primary-color);
}

#project .card-img > img {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

#project .card > .card-text {
  margin-top: 1rem;
}

.card > .card-text > h3 {
  font-size: var(--medium-fonts);
  font-weight: var(--semi-bold);
}

.card > .card-text > p {
  font-size: var(--small-fonts);
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.card > .card-text > .show-content {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.card > .card-text > .show-content span {
  font-size: var(--small-fonts);
  color: red;
}

.arrow {
  display: flex;
  align-items: center;
}

#contact {
  position: relative;
  color: var(--primary-color);
  margin-top: 2rem;
}

#contact .my-contact h3 {
  font-size: var(--medium-fonts);
  font-weight: var(--medium);
  margin: 0.5rem 0;
}

.my-contact > h3 > a {
  color: #FF0000;
}

#contact .icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#footer {
  color: var(--primary-color);
  margin-top: 2rem;
  position: relative;
  text-align: center;
  padding-top: 2rem;
}

#footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}



@media (max-width: 900px) {

  .container {
    padding: 2rem 2.5rem;
  }

  nav .main-menu {
    gap: 2rem;
  }

  .img-hero {
    padding: 3rem 2rem;
  }
  
  .text-hero {
    padding: 2rem;
  }

  .text-hero > h1 {
    font-size: var(--large-fonts);
  }

  .text-hero > h2 {
    font-size: var(--medium-fonts);
  }
  
}

@media (max-width: 600px) {

  .container {
    padding: 2rem 1rem;
  }

  nav {
    padding: 1rem;
  }

  nav .main-menu {
    padding: 1.5rem 2rem;
    position: absolute;
    height: fit-content;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border: var(--border);
    border-radius: var(--border-radius);
    transition: top 1s ease;
    display: none;
    gap: 2rem;
    transition: 1s ease;
  }

  nav .main-menu .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  .section-header > h2 {
    font-size: var(--medium-to-large-fonts);
  }

  #hero-section {
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
  }

  .img-hero {
    border-radius: 15px 15px 0 0;
  }

  .icon-container {
    justify-content: center;
  }

  .text-hero {
    display: inline-flex;
    border-radius: 0 0 15px 15px;
    text-align: center;
  }

  .text-hero > h1 {
    font-size: var(--large-fonts);
  }

  .text-hero > h2 {
    font-size: var(--medium-fonts);
  }

  .skills-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  #project > .card-container {
    flex-direction: column;
    gap: 3rem;
  }

  #project > .card-container > .card {
    max-width: 100%;
  }

  #contact .my-contact h3 {
    font-size: var(--small-fonts);
  }

}
